# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ai-blog-flask-env/
.ai-blog-flask-env/
ENV/
env.bak/
.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db